$background: black;
$edge-url: "../assets/edge.jpg";
$edge-rotated-url: "../assets/edge-rotated.png";
$smoke-url: "../assets/smoke.png";

body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: $background;
}

// *** HOME ******************************** //

.home {
  height: 100vh;

  .home-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url($smoke-url);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;

    .home-banner {
      width: 100vw;
      position: absolute;
      top: 0;
      img {
        width: 100%;
      }
    }

    .home-wrapper {
      width: 100vw;
      height: 85vh;
      margin-top: 15vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .home-card {
        width: 30vh;
        height: 30vh;
        padding: 2rem;
        background-color: white;
        border-radius: 1rem;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .swiper {
      width: 300px;
      height: 300px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .home-credit {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      color: lightgray;
      text-align: right;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-size: 10px;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

// *** CANVAS ******************************** //

.svgContainer {
  height: 85vh;
  width: 100vw;
  height: 85dvh;
  width: 100dvw;
  background-image: url($edge-url);
  background-size: 100% 100%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.eraser {
  position: absolute;
  top: min(5vh, 20px);
  right: min(5vh, 20px);

  img {
    background-color: none;
    border: none;
  }
}

.color-swatch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $background;
}

.color-swatch {
  height: min(calc(100vw / 8), 60px);
  width: min(calc(100vw / 8), 60px);
  height: min(calc(100dvw / 8), 60px);
  width: min(calc(100dvw / 8), 60px);
  margin: 1vw;
  border: 5px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .color-swatch {
    height: min(calc(100vw / 12), 80px);
    width: min(calc(100vw / 12), 80px);
    height: min(calc(100dvw / 12), 80px);
    width: min(calc(100dvw / 12), 80px);
  }
}

@media screen and (min-width: 1024px) {
  .color-swatch {
    height: min(calc(100vw / 16), 120px);
    width: min(calc(100vw / 16), 120px);
    height: min(calc(100dvw / 16), 120px);
    width: min(calc(100dvw / 16), 120px);
  }
}

@media (orientation: landscape) {
  .svgContainer {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 85vw;
    width: 100dvh;
    height: 85dvw;
    position: fixed;
    overflow: hidden;
    top: 100%;
    left: 0;
  }

  .eraser {
    transform: rotate(90deg);
  }

  .home {
    .home-container {
      .home-banner {
        text-align: center;
        img {
          width: 50%;
        }
      }
      .home-wrapper {
        .home-card {
          width: 20vw;
          height: 20vw;
        }
      }
    }
  }

  .color-swatch-container {
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    right: 0;
  }

  .color-swatch {
    height: min(calc(100vh / 8), 60px);
    width: min(calc(100vh / 8), 60px);
    margin: 2vh;
    height: min(calc(100dvh / 8), 60px);
    width: min(calc(100dvh / 8), 60px);
  }
}
